env:
  jest: true
extends:
  - airbnb-base
  - prettier
plugins:
  - prettier
root: true
rules:
  prettier/prettier: 2
  sort-keys:
    - error
    - asc
    - caseSensitive: true
      natural: false
